#footer {
  padding: 80px 0 60px 0;
  background-color: #101c26;
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer-first {
      img {
        width: 97px;
        height: 67px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #f5f5f5;
      }
      display: flex;
      flex-direction: column;
      gap: 20px;
      .footer-icons {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
          width: 27px;
          height: 27px;
        }
      }
    }
    .footer-last {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h5 {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #ffffff;
      }
      p {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #b3b3b3;
      }
    }
    .footer-link {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h5 {
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: aliceblue;
        margin-bottom: 10px;
      }
      a {
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: #b3b3b3;
      }
    }
  }
}
