#header{
    background: #101C26;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    .header-a{
        display: flex;
        gap: 20px;
        a{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: white;
    margin-left: 30px;
        }
    }
}

.but{
    display: flex;
    gap: 10px;
    .right{
font-weight: 500;
font-size: 16px;
line-height: 24px;
border-color: white;
width: 117px;
height: 50px;
border-radius: 100px;
background: #101C26;
color: white;
    }
    .left{
font-weight: 500;
font-size: 16px;
line-height: 24px;
background: #F0E714;
border-color: #F0E714;
width: 117px;
height: 50px;
border-radius: 100px;
    }
}