#hero2 {
  .hero2 {
    display: flex;
    align-items: center;
    gap: 80px;
    padding-top: 90px;

    .text {
      h4 {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        background: #f0e9142f;
        width: 120px;
        height: 40px;
        text-transform: uppercase;
        text-align: center;
        border-radius: 25px;
        margin-bottom: 30px;
        padding-top: 10px;
      }

      h1 {
        font-weight: 600;
        font-size: 44px;
        line-height: 56px;
        color: black;
      }

      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: rgba(0, 0, 0, 0.464);
        padding-bottom: 30px;
        padding-top: 30px;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f0e714;
        background: #101c26e4;
        width: 160px;
        height: 43px;
        border-radius: 30px;
      }
    }
  }
}
