.cards5 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}
#section5 {
  padding: 40px 0;
}
.section5 {
  .top {
    h5 {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
      background: #f0e71433;
      width: 158px;
      height: 44px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.word {
  justify-content: space-between;
  display: flex;
  h2 {
    margin-top: 20px;
    font-weight: 600;
    color: #24272e;
    font-size: 44px;
    leading-trim: NONE;
    line-height: 56px;
  }
}

.card5 {
  h3 {
    margin: 20px 0;
    font-weight: 500;
    font-style: Medium;
    font-size: 34px;
    line-height: 28px;
    color: #24272e;
  }
  p {
    color: #555c68;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 13px;
  }
  h5 {
    font-weight: 600;
    font-style: Demi;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}
