#offen {
  padding: 80px 0;
  .offen {
    .text-top {
      display: flex;
      gap: 20px;
      .text {
        display: flex;
        gap: 20px;
        h3 {
          font-weight: 400;
          font-size: 16px;
          line-height: 100%;
          text-transform: uppercase;
          background: #f0e71433;
          border-radius: 20px;
          width: 169px;
          height: 39px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      h1 {
        font-weight: 600;
        font-size: 44px;
        line-height: 56px;
        text-align: center;
      }
      p {
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -1.1%;
        color: #555c68;
      }
    }
  }
  .offen-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    .card-1 {
      width: 297px;
      height: 238px;
      background: #ffffff;
      border: 1px solid gray;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
      padding: 20px;
      h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: -1.1%;
        color: #555c68;
      }
    }
  }
}
