* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
}

/* container */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 80px 20px;
}

/* layout */
.contacts-flex {
  display: flex;
  gap: 80px;
  align-items: flex-start;
}

/* LEFT */
.contacts-left {
  flex: 1;
}

.badge {
  display: inline-block;
  background: rgba(250, 204, 21, 0.25);
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
  margin-bottom: 20px;
}

.contacts-left h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.desc {
  color: #555;
  margin-bottom: 30px;
  line-height: 1.6;
}

.info p {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  color: #555;
  cursor: pointer;
}

.info ion-icon {
  font-size: 18px;
}

/* RIGHT */
.contacts-right {
  flex: 1;
}

.contacts-right form {
  background: #0f172a;
  padding: 40px;
  border-radius: 15px;
}

.contacts-right label {
  color: #cbd5e1;
  font-size: 14px;
}

.contacts-right input,
.contacts-right textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #64748b;
  margin: 15px 0 30px;
  color: #fff;
  padding: 5px 0;
}

.contacts-right button {
  background: #facc15;
  border: none;
  padding: 12px 40px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}
