body {
  background-color: white;
}
#team {
  padding: 50px 0;
  .team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .team-left {
      .btn {
        display: flex;
        gap: 20px;
        h3 {
          font-weight: 400;
          font-size: 16px;
          line-height: 100%;
          text-transform: uppercase;
          background: #f0e71433;
          border-radius: 20px;
          width: 169px;
          height: 39px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      h1 {
        font-weight: 600;
        font-size: 44px;
        line-height: 56px;
      }
      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #555c68;
      }
      .team-card {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .card {
          display: flex;
          align-items: center;
          gap: 15px;
          .card-text {
            h2 {
              font-weight: 600;
              font-size: 20px;
              line-height: 32px;
              letter-spacing: -1.1%;
            }
            p {
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}
